@import "./normalize.css";
@import "./fonts/stylesheet.css";

:root {
  --third: #f5db13;
  --primary: #f2b807;
  --second: #f28f16;
  --danger: #d93e30;
  --white: #F6F7F9;
  --dark: #212121;
  --stile-dark-rock: #a1a1a1;
  --grass-bug: #70a83b;
  --ice-water: #a2cff0;
  --fire-fighting-dragon: #f76545;
  --normal-ghost: #76aadb;
  --posion-psychic-fairy-ghost: #a974bc;
  --ground: #9b897b;
  --electric: #f7c545;
  --paragraph: 16px;
}
* {
  font-family: 'Karla', 'Courier New';
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.6rem;;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.2rem;
}
