@import "./normalize.css";
@import "./fonts/stylesheet.css";

:root {
  --third: #f5db13;
  --primary: #f2b807;
  --second: #f28f16;
  --danger: #d93e30;
  --stile-dark-rock: #a1a1a1;
  --grass-bug: #70a83b;
  --ice-water: #a2cff0;
  --fire-fighting-dragon: #f76545;
  --normal-ghost: #76aadb;
  --posion-psychic-fairy-ghost: #a974bc;
  --ground: #9b897b;
  --electric: #f7c545;
  --paragraph: 16px;
}
* {
  font-family: 'Karla', 'Courier New';
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 12px;
}
